/*-----------GENERALES-------------------*/
*{
    box-sizing: border-box;
    margin: 0 auto;
}
a{
    text-decoration:none;
}
/*-------------NAV------------------*/
h1{
    width:20%;
}
.menuprincipal{
    display: flex;
    justify-content: center;
    list-style: none;
    border:1px solid black;
    justify-content: space-around;
}
.disparador:active{
    display: inline-block;
}
.desplegable a{
    display: block;
}
.desplegable{
    display: none;
    position: absolute;
    z-index: 2;
    border:1px solid black;
}
.disparador:hover .desplegable{
    display: block;
}
